{% extends 'base.html' %}
{% load specifications %}
{% block content %}
<nav aria-label="breadcrumb" class="container px-4 px-lg-5 py-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<section class="py-2">
    <div class="container px-4 px-lg-5 mb-5">
        
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 border border-3" src="{{ product.image.url }}"/>
            </div>
            <div class="col-md-6">
                <h1 class="display-6 fw-bolder">{{ product.title }}</h1>
                <hr>
                <div class="fs-5 mb-2">
                    <span>{{ product.price }} тенге</span>
                </div>
                <div class="d-flex mb-5">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to Cart
                    </button>
                </div>
                <div class="lead mb-5">
                    <p>Характеристики</p>
                    {{product|product_spec}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}